/* Full calendar on calendar.html */

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    background-image: url("% static %"); 
}

#calendar {
    max-width: 950px;
    margin: 0 auto;
}

#calendar .fc-view-container {
    padding: 30px;
    background-color: var(--light-yellow-highlight);
    -webkit-box-shadow: 0 15px 30px 0 var(--dark);
    box-shadow: 0 15px 30px 0 var(--dark);
}

.fc-event {
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow: hidden;
    max-width: 100% !important;
    height: auto !important;
}

.fc-day-grid-event .fc-content {
    white-space: normal !important;
}

.fc-day-header {
    background-color: var(--dark) !important;
    color: var(--light-yellow-highlight) !important;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.fc-day.fc-today {
    background-color: var(--dark) !important;
    color: var(--light-yellow-highlight) !important;
}

.fc-day.fc-today a {
    color: var(--light-yellow-highlight) !important;
}

.fc-popover.fc-more-popover {
    background-color: var(--pink-highlight) !important;
    color: var(--orange) !important;
    border: none !important;
}


.fc-popover.fc-more-popover .fc-popover-body {
    background-color: var(--orange) !important;
    color: var(--orange) !important;
}

.fc-popover .fc-header.fc-widget-header {
    background-color: var(--dark) !important;
    color: var(--light-yellow-highlight) !important;
}

.fc-widget a {
    color: var(--light-yellow-highlight) !important; 
    text-decoration: none !important;
}

.fc-widget a:hover {
    color: var(--orange)!important; 
    text-decoration: underline !important; 
}

.fc .fc-daygrid-day-frame {
    aspect-ratio: 1 / 1; /* Maintain square shape */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Responsive text size inside each day cell */
.fc-daygrid-day-number,
.fc-event {
    font-size: calc(0.6vw + 0.6vh); 
    line-height: 1.2;
}

.fc-event {
    padding: 2px 4px;
}

.fc-daygrid-day-events {
    overflow-y: auto;
}

#calendar {
    height: 90vh; 
}

/* Force each week row to use equal height */
.fc-scrollgrid-sync-table tr {
    height: 1fr;
}
.event-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5); /* trnasperent */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.event-popup-inner {
    background: var(--light-yellow-highlight);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.event-popup-inner h2 {
    font-size: 2em;
    margin: 0;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}
